/*!=========================
      Base grid styles
==========================*/
html, body
  min-width 800px
body
  light()
  font-size 16px
  line-height 1.2
  color #000
  background #fff
.wrapper
  position relative
  width 1000px
  height 100%
  margin 0 auto
  clearfix()
  @media screen and (max-width: 1024px)
    width 96%
    min-width 800px
