.m_hook
  background $blue
  color #fff
  height 210px
  text-align center
  .helper-parent
    display table
    width 100%
    height 100%
  .helper
    display table-cell
    vertical-align middle
  p
    bold()
    font-size 20px
    margin 0
  .send
    margin 25px 0
  .tel
    font-size 24px
    a
      bold()
      color #fff
      text-decoration none
      cursor default