.m_s6
  padding-bottom 60px
  p
    display block
    text-align center
    font-size 20px
  h3
    display block
    text-align center
    font-size 24px
  .columns
    padding-top 30px
    .col-1-of-3
      padding-left 35px
      padding-right 35px
      ul
        padding-top 10px
  .problems
    text-align center
    a
      color $link
      display inline-block
      line-height 1
      vertical-align middle
      border-bottom 1px solid #b4c3dc
      &:hover
        border-color #fff
.m_s7
  background #f9f9f9
  padding-bottom 60px
  .blue-markers
    li
      padding-right 20px